<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class = "row">
	<div class = "col-md-6">
		<form method ="POST"> {% csrf_token %}
		<h4>Metode : </h4>
		<select name="PR">
		{% for a in data %}
			<option value ={{a}}> {{a}}</option>
		{% endfor %}
		</select>
		<br>
		<textarea name="inputtext" rows="6" cols="40">
		</textarea>
		<input type = "submit" value="ok" name="inputA">
		</form>
	</div>
	<div class  = "col-md-6">
		<h4>Hasil </h4>
		{{text}}
	</div>
</div>

<div class = "row">
	<div class = "col-md-6">
		<form method ="POST"> {% csrf_token %}
		<input type = "submit" value="process" name = "inputB">
		</form>
	</div>
	<div class = "col-md-6">
		<h4>Hasil</h4>
		{% for a in text1 %}
		<h5>{{a}}</h5>
		{% endfor %}
	</div>
</div>